# This directory is expected to contain SSH keys (id_rsa / id_rsa.pub)
# Please run `ssh-keygen -t rsa -N "" -f .ssh/id_rsa` at first to generate keys
# They are automatically linked to `/root/.ssh/` on Docker dev-container
*
